---
---

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #09128b !default;
$header-bg-color-secondary: #1e78d1 !default;


@import "{{ site.theme }}";
.main-content {
    word-wrap: break-word;
  
    :first-child {
      margin-top: 0;
    }
  
    @include large {
      max-width: 84rem;
      padding: 2rem 6rem;
      margin: 0 auto;
      font-size: 1.1rem;
    }
  
    @include medium {
      padding: 2rem 4rem;
      font-size: 1.1rem;
    }
  
    @include small {
      padding: 2rem 1rem;
      font-size: 1rem;
    }
    
    kbd {
      background-color: #fafbfc;
      border: 1px solid #c6cbd1;
      border-bottom-color: #959da5;
      border-radius: 3px;
      box-shadow: inset 0 -1px 0 #959da5;
      color: #444d56;
      display: inline-block;
      font-size: 11px;
      line-height: 10px;
      padding: 3px 5px;
      vertical-align: middle;
    }
  
    img {
      max-width: 100%;
    }

