---
---
// Headers
$header-heading-color: #fff !default;
$header-bg-color: #103827 !default;
$header-bg-color-secondary: #155799 !default;


@import "{{ site.theme }}";

$header-bg-color: #103827 !default;
$header-bg-color-secondary: #155799 !default;
